@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: black;
  --secondary: red;
}

body {
  background: linear-gradient(30deg, #292524 0%, #132245 60%, #1b2c86 100%);
  margin: 0;
}
